<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply For Leave</title>
    <style>
        .container{
            position: relative;
            height: 100vh;
            margin-left: 25%;
            background: var(--body-color);
            max-width: calc(100% - 255px);
            width: 100%;
            left: 155px;
            color: var(--text-color);
            padding: 10px;
        }
        table,td,th{
            border: 1px solid black;
            border-collapse: collapse;
            background:var(--slidebar-color);
            border-radius: 6px;
        }
        .nameofUniversity{
            padding: 14px;
        }
        .nameofUniversity .name{
            font-size: 32px;
            padding-bottom: 10px;
        }
        .nameofUniversity .name span{
            font-size: 12px;
        }
        .number_date{
            font-size: 18px;
        }
        .number_date .number{
            float: left;
        }
        .number_date .date{
            float: right;
        }
        .gate{
            font-size: 33px;
        }
        .detail{
            position: relative;
            border: 1px solid #ccc;
            outline: none;
            font-size: 23px;
            max-width: 200px;
            width: 100%;
            float: right;
            border-bottom-width: 2px;
            border-radius: 4px;
            padding: 5px;
            font-weight: 500;
        }
        .time{
            position: relative;
            border: 1px solid #ccc;
            outline: none;
            font-size: 23px;
            max-width: 200px;
            width: 100%;
            float: right;
            border-bottom-width: 2px;
            border-radius: 4px;
        }
        td,th{
            padding: 10px;
        }
        .required{
            font-size: 23px;
            max-width: 400px;
            width: 100%;
        }
        @media(max-width:1000px){
            .sidebar.close ~ .container{
            max-width: calc(100% - 88px);
            left: 88px;
        }
        }
    </style>
</head>
<body>
    <%-include ("./partials/nav") %>
    <div class="container">
        <div class="pass-detail">
            <div class="table">
               <form action="/leave" method="post">
                <table>
                    <thead>
                        <tr>
                            <th class="nameofUniversity"><div class="name">Sankalchand Patel University</div>
                            <span>Sankalchand Patel Vidhyadham,Visnagar - 384315</span></th>
                        </tr>
                        <tr>
                            <th class="number_date"><span class="number">Recipt No. <%= recipt %></span> <span class="date">Date:<%= today %></span>
                            </th>
                        </tr>
                        <tr>
                            <th><div class="gate">Gate Pass</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td><span class="required">Name of Student: </span><input class="detail" name="Name" type="text" disabled value=<%= nameofstudent %> ></td>
                        </tr>
                        <tr>
                          <td><span class="required">Course/Semester: </span><input class="detail" name="Sem" type="text" required></td>
                        </tr>
                        <tr>
                          <td><span class="required">Reason for Leaving Campus: </span><input class="detail" name="Reason" type="text" required></td>
                        </tr>
                        <br>
                        <tr>
                            <td class="out">Out Time: <input class="time" name="outtime" type="text" required></td>
                        </tr>
                        <tr>
                            <td class="out">In Time: <input class="time" name="intime" type="text" required></td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit">Submit</button>
               </form>
            </div>            
        </div>
    </div>
</body>
</html>